# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# BMAD
_bmad-output
_bmad

# Docs
docs
*.md
!README.md

# Tests
tests
test-results
playwright-report
playwright.config.ts

# Storybook
.storybook
storybook-static

# Claude
.claude
.claude-flow
.hive-mind
memory

# Other
.github
.husky
.lefthook*
.renovate*
